footer
  div class="foot"
    span -- Made with 
    span
      a href='http://markojs.com/' -- marko
    span
      a href='https://github.com/lasso-js/lasso' -- /Lasso.js 
    span -- and 
      a href='http://basscss.com/' -- Basscss
    span -- , backed by 
      a href='https://nodejs.org' -- Node.js 
    span -- and 
      a href='https://www.mongodb.com/' -- MongoDB 
    span -- | 
    span
      a href='/status' -- Status 
    span -- | 
    span
      a href='https://github.com/hirako2000' -- Hirako20000 
    span -- | 
    span 
      a href='https://github.com/hirako2000/gisteam/issues' -- Issues 
