footer
  div class="foot"
    span -- Made with 
    span
      a href='http://markojs.com/' -- marko 
    span -- and 
      a href='http://basscss.com/' -- Basscss
    span -- , backed by 
      a href='http://basscss.com/' -- Node.js 
    span -- and 
      a href='http://basscss.com/' -- MongoDB 
    span -- | 
    span
      a href='/status' -- Status 
    span -- | 
    span -- Hirako20000 
    span -- | 
    span 
      a href='https://github.com/hirako2000/gisteam/issues' -- Issues 
