header
  div class="nav"
    div.left
      span
        a href='/' -- Home
    div.right
      span
        a href='/beautify' -- Beautify 
      span -- |
      span
        a href='/minify' -- Minify 
      span -- |
      span
        a href='/paste' -- Paste 
      span -- |
      span
        a href='/hash' -- Hash 
      span -- |
      span
        a href='/' -- Time 
    